.git
.github
.ai
.agents
.codex
.cursor
.idea
.vscode

.env
.env.*
!.env.example

node_modules
vendor
public/build
public/hot
public/storage

bootstrap/cache/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*

tests
README.md
docker-compose.yml

